body {
  font-family: apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Pingfang SC,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body, p, h1, h2 {
  margin: 0; }

ol, ul, button {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

#header {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 50;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 66px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 0 30px;
  font-size: 14px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s; }
  #header .header-left {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    height: inherit; }
    #header .header-left .left-img {
      height: 36px;
      width: 193.172px; }
    #header .header-left .left-a {
      margin-left: 30px; }
      #header .header-left .left-a .a-cn {
        color: #eb5648; }
      #header .header-left .left-a .a-en {
        color: #7d8695;
        transition: all ease-in .2s;
        -o-transition: all ease-in .2s;
        -moz-transition: all ease-in .2s;
        -webkit-transition: all ease-in .2s; }
        #header .header-left .left-a .a-en:hover {
          color: black;
          transition: all ease-in .2s;
          -o-transition: all ease-in .2s;
          -moz-transition: all ease-in .2s;
          -webkit-transition: all ease-in .2s; }
  #header .header-right #headerul li {
    display: inline-flex;
    display: -moz-inline-block;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    margin: 0 14px; }
    #header .header-right #headerul li > a:not(.li-a-last) {
      color: #7d8695;
      display: inline-block;
      position: relative; }
      #header .header-right #headerul li > a:not(.li-a-last):after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-top: 7px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        background-color: #eb5648;
        height: 1px;
        width: 0;
        transition: all ease-in .2s;
        -o-transition: all ease-in .2s;
        -moz-transition: all ease-in .2s;
        -webkit-transition: all ease-in .2s; }
      #header .header-right #headerul li > a:not(.li-a-last):hover {
        color: black;
        transition: all ease-in .2s;
        -o-transition: all ease-in .2s;
        -moz-transition: all ease-in .2s;
        -webkit-transition: all ease-in .2s; }
        #header .header-right #headerul li > a:not(.li-a-last):hover:after {
          width: 100%;
          transition: all ease-in .2s;
          -o-transition: all ease-in .2s;
          -moz-transition: all ease-in .2s;
          -webkit-transition: all ease-in .2s; }
  #header .header-right #headerul li:last-of-type {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #eb5648;
    height: 40px;
    width: 120px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    transition: all ease-in .2s;
    -o-transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
    -webkit-transition: all ease-in .2s; }
    #header .header-right #headerul li:last-of-type .li-a-last {
      display: inline-flex;
      display: -moz-inline-block;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      line-height: 40px;
      justify-content: center;
      -webkit-justify-content: center;
      color: white;
      height: 40px;
      width: 120px;
      box-shadow: rgba(235, 86, 72, 0.15686) 0px 6px 20px 0px;
      -webkit-box-shadow: rgba(235, 86, 72, 0.15686) 0px 6px 20px 0px;
      -moz-box-shadow: rgba(235, 86, 72, 0.15686) 0px 6px 20px 0px;
      -o-box-shadow: rgba(235, 86, 72, 0.15686) 0px 6px 20px 0px; }
    #header .header-right #headerul li:last-of-type:hover {
      background-color: rgba(235, 86, 72, 0.88);
      transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s; }

#bodyer-bottom {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed; }

#bodyer {
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-top: 66px;
  transform: translateY(1px); }
  #bodyer #bodyer1 {
    background: url("https://modao.cc/webpack/sec1-bg.5ba3e982d843cda6e075536e168e2a63.svg") no-repeat 50% 100%;
    background-size: cover;
    width: 100%;
    height: 981px; }
    #bodyer #bodyer1 .content {
      width: 572px;
      height: 274px;
      text-align: center;
      margin: 0 auto; }
      #bodyer #bodyer1 .content h2 {
        line-height: 3rem;
        font-weight: 300;
        font-size: 2rem; }
      #bodyer #bodyer1 .content a {
        display: inline-flex;
        display: -moz-inline-block;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        background-color: #eb5648;
        margin-top: 25px;
        height: 50px;
        width: 160px;
        line-height: 50px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        color: white;
        font-weight: 200;
        justify-content: center;
        -webkit-justify-content: center;
        margin-bottom: 15px;
        box-shadow: 0 6px 20px 0 rgba(235, 86, 72, 0.16);
        -o-box-shadow: 0 6px 20px 0 rgba(235, 86, 72, 0.16);
        -moz-box-shadow: 0 6px 20px 0 rgba(235, 86, 72, 0.16);
        -webkit-box-shadow: 0 6px 20px 0 rgba(235, 86, 72, 0.16);
        transition: all ease-in .2s;
        -o-transition: all ease-in .2s;
        -moz-transition: all ease-in .2s;
        -webkit-transition: all ease-in .2s; }
        #bodyer #bodyer1 .content a:hover {
          background-color: rgba(235, 86, 72, 0.8);
          transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          -moz-transition: all ease 0.5s;
          -webkit-transition: all ease 0.5s; }
      #bodyer #bodyer1 .content .content-buttom {
        width: inherit;
        height: 64px; }
        #bodyer #bodyer1 .content .content-buttom h2 {
          font-weight: 200;
          font-size: 0.86rem;
          color: #a9afb8; }
        #bodyer #bodyer1 .content .content-buttom div {
          width: inherit;
          overflow: hidden;
          height: 34px; }
    #bodyer #bodyer1 .video1 {
      display: block;
      height: 545px; }
      #bodyer #bodyer1 .video1 .video1-img {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
        background-color: #c1c1c1;
        width: 960px;
        height: 545px;
        margin: 30px auto 0 auto;
        position: relative; }
        #bodyer #bodyer1 .video1 .video1-img span {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #e1e1e1;
          z-index: 3;
          top: 0;
          left: 0;
          opacity: 0;
          filter: alpha(opacity=0);
          transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          -moz-transition: all ease 0.5s;
          -webkit-transition: all ease 0.5s; }
        #bodyer #bodyer1 .video1 .video1-img:hover span {
          opacity: 0.3;
          filter: alpha(opacity=30);
          transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          -moz-transition: all ease 0.5s;
          -webkit-transition: all ease 0.5s; }
        #bodyer #bodyer1 .video1 .video1-img:hover .video1-btn {
          background-color: #eb5648;
          transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          -moz-transition: all ease 0.5s;
          -webkit-transition: all ease 0.5s; }
        #bodyer #bodyer1 .video1 .video1-img:hover .video1-btn:after {
          content: '';
          height: 0;
          width: 0;
          top: 49%;
          border-top: 9px solid transparent;
          border-left: 13px solid white;
          border-bottom: 8.5px solid transparent;
          z-index: 9; }
        #bodyer #bodyer1 .video1 .video1-img .video1-btn {
          width: 64px;
          height: 64px;
          position: absolute;
          background-color: white;
          border-radius: 32px;
          -webkit-border-radius: 32px;
          -moz-border-radius: 32px;
          left: 50%;
          top: 50%;
          z-index: 5;
          cursor: pointer;
          -webkit-transform: translate(-30%, -45%);
          -moz-transform: translate(-30%, -45%);
          -o-transform: translate(-30%, -45%);
          -ms-transform: translate(-30%, -45%);
          transform: translate(-30%, -45%);
          transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          -moz-transition: all ease 0.5s;
          -webkit-transition: all ease 0.5s; }
          #bodyer #bodyer1 .video1 .video1-img .video1-btn:after {
            content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='13' height='18' viewBox='0 0 13 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.462 8.868L.515 17.184V.55z' stroke='%23F55D54' fill='none'/%3E%3C/svg%3E");
            position: absolute;
            width: 13px;
            height: 21px;
            left: 50%;
            top: 50%;
            z-index: 2;
            -webkit-transform: translate(-30%, -45%);
            -moz-transform: translate(-30%, -45%);
            -o-transform: translate(-30%, -45%);
            -ms-transform: translate(-30%, -45%);
            transform: translate(-30%, -45%); }
  #bodyer #bodyer2 {
    background: url(https://modao.cc/webpack/sec2-bg.70d33ebdc020333a626b636611e4e203.svg) bottom no-repeat;
    background-size: 100%;
    background-color: #eb5648;
    background-position: 50% 90%;
    color: white;
    width: 100%;
    height: 662px;
    margin-top: -1px;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    padding-top: 80px; }
    #bodyer #bodyer2 h2 {
      font-size: 2.5rem;
      margin: 0 0 20px 0;
      font-weight: 400; }
    #bodyer #bodyer2 p span {
      font-size: 1.5rem; }
    #bodyer #bodyer2 .body2btn {
      display: inline-flex;
      display: -moz-inline-block;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      color: #eb5648;
      background-color: white;
      width: 160px;
      height: 50px;
      line-height: 50px;
      justify-content: center;
      -webkit-justify-content: center;
      cursor: pointer;
      margin: 60px 0;
      box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 6px 20px 0px;
      -o-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 6px 20px 0px;
      -moz-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 6px 20px 0px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 6px 20px 0px;
      transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s; }
      #bodyer #bodyer2 .body2btn:hover {
        background-color: #f5d3d0;
        transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s; }
    #bodyer #bodyer2 .body2btn-p {
      margin-top: 42px;
      opacity: 0.75;
      filter: alpha(opacity=75); }
  #bodyer #bodyer3 {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    padding-top: 20px; }
    #bodyer #bodyer3 .mould {
      background-color: #fafafa;
      width: 96%;
      max-width: 1420px;
      height: 640px;
      margin-bottom: 20px; }
    #bodyer #bodyer3 .mould-style {
      display: flex;
      display: -moz-flex;
      display: -webkit-flex;
      display: -o-flex;
      display: -ms-flex;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      align-items: center;
      -webkit-align-items: center;
      padding: 0 96px; }
      #bodyer #bodyer3 .mould-style .content {
        min-width: 300px;
        width: 100%;
        max-width: 392px;
        height: 353px; }
        #bodyer #bodyer3 .mould-style .content h2 {
          color: #27364e;
          font-size: 28px;
          font-weight: 400;
          margin-bottom: 28px; }
          #bodyer #bodyer3 .mould-style .content h2:before {
            content: '';
            display: block;
            width: 2rem;
            height: 2rem;
            margin-bottom: 16px; }
        #bodyer #bodyer3 .mould-style .content p {
          line-height: 23.8px;
          font-size: 0.875rem;
          color: #27364e;
          margin: 14px 0; }
          #bodyer #bodyer3 .mould-style .content p a {
            color: #eb5648; }
        #bodyer #bodyer3 .mould-style .content div p {
          line-height: 23.8px;
          color: #969da8;
          margin-bottom: 14px; }
          #bodyer #bodyer3 .mould-style .content div p:before {
            content: "\300C"; }
          #bodyer #bodyer3 .mould-style .content div p:after {
            content: "\300D"; }
        #bodyer #bodyer3 .mould-style .content div footer b {
          color: #969da8;
          font-size: 0.875rem;
          font-weight: 400;
          position: relative;
          top: -0.5rem; }
          #bodyer #bodyer3 .mould-style .content div footer b:before {
            content: '';
            display: inline-block;
            overflow: hidden;
            position: relative;
            top: 0.5rem;
            left: -0.1rem;
            width: 2rem;
            height: 2rem; }
      #bodyer #bodyer3 .mould-style .picture {
        display: block;
        position: relative;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 6px 20px 0px;
        -o-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 6px 20px 0px;
        -moz-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 6px 20px 0px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 6px 20px 0px; }
        #bodyer #bodyer3 .mould-style .picture .img2 {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.15)); }
    #bodyer #bodyer3 .bodyer3-1 .content h2:before {
      background: url(https://modao.cc/webpack/asset.4e3d36887976d12a68649d74140b9af6.svg) no-repeat; }
    #bodyer #bodyer3 .bodyer3-1 .content div footer b:before {
      background: url(https://modao.cc/webpack/people.340ca6319aeead12118da19222e54270.png) no-repeat;
      -webkit-background-size: 230px auto;
      -moz-background-size: 230px auto;
      background-size: 230px auto;
      background-position: 0 -135px; }
    #bodyer #bodyer3 .bodyer3-2 .content h2:before {
      background: url(https://modao.cc/webpack/asset.4e3d36887976d12a68649d74140b9af6.svg) no-repeat;
      background-position-x: -66px; }
    #bodyer #bodyer3 .bodyer3-2 .content div footer b:before {
      background: url(https://modao.cc/webpack/people.340ca6319aeead12118da19222e54270.png) no-repeat;
      -webkit-background-size: 230px auto;
      -moz-background-size: 230px auto;
      background-size: 230px auto;
      background-position: -67px -2px; }
    #bodyer #bodyer3 .bodyer3-2 .picture {
      box-shadow: transparent 0px 0px 0px 0px, transparent 0px 0px 0px 0px;
      -o-box-shadow: transparent 0px 0px 0px 0px, transparent 0px 0px 0px 0px;
      -moz-box-shadow: transparent 0px 0px 0px 0px, transparent 0px 0px 0px 0px;
      -webkit-box-shadow: transparent 0px 0px 0px 0px, transparent 0px 0px 0px 0px; }
    #bodyer #bodyer3 .bodyer3-3 .content h2:before {
      background: url(https://modao.cc/webpack/asset.4e3d36887976d12a68649d74140b9af6.svg) no-repeat;
      background-position-x: -132px; }
    #bodyer #bodyer3 .bodyer3-3 .content div footer b:before {
      background: url(https://modao.cc/webpack/people.340ca6319aeead12118da19222e54270.png) no-repeat;
      -webkit-background-size: 230px auto;
      -moz-background-size: 230px auto;
      background-size: 230px auto;
      background-position: -132px -102px; }
    #bodyer #bodyer3 .bodyer3-4 .content h2:before {
      background: url(https://modao.cc/webpack/asset.4e3d36887976d12a68649d74140b9af6.svg) no-repeat;
      background-position-x: -32px; }
    #bodyer #bodyer3 .bodyer3-4 .content div footer b:before {
      background: url(https://modao.cc/webpack/people.340ca6319aeead12118da19222e54270.png) no-repeat;
      -webkit-background-size: 230px auto;
      -moz-background-size: 230px auto;
      background-size: 230px auto;
      background-position: -132px -67px; }
    #bodyer #bodyer3 .bodyer3-5 .content h2:before {
      background: url(https://modao.cc/webpack/asset.4e3d36887976d12a68649d74140b9af6.svg) no-repeat;
      background-position-x: -99px; }
    #bodyer #bodyer3 .bodyer3-5 .content div footer b:before {
      background: url(https://modao.cc/webpack/people.340ca6319aeead12118da19222e54270.png) no-repeat;
      -webkit-background-size: 230px auto;
      -moz-background-size: 230px auto;
      background-size: 230px auto;
      background-position: -167px -67px; }
    #bodyer #bodyer3 .bodyer3-5 a {
      display: block;
      width: 56px;
      height: 33px;
      text-align: center;
      font-size: 14px;
      line-height: 33px;
      margin-left: 1px;
      margin-top: 16px;
      border: 1px #eb5648 solid;
      color: #eb5648;
      padding: 0 14px;
      transition: all ease-in .2s;
      -o-transition: all ease-in .2s;
      -moz-transition: all ease-in .2s;
      -webkit-transition: all ease-in .2s; }
      #bodyer #bodyer3 .bodyer3-5 a:hover {
        transition: all ease-in .2s;
        -o-transition: all ease-in .2s;
        -moz-transition: all ease-in .2s;
        -webkit-transition: all ease-in .2s;
        background-color: #eb5648;
        color: white; }
    #bodyer #bodyer3 .bodyer3-6 {
      display: flex;
      display: -moz-flex;
      display: -webkit-flex;
      display: -o-flex;
      display: -ms-flex;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      align-items: center;
      -webkit-align-items: center;
      padding: 7.5rem 2rem 6rem; }
      #bodyer #bodyer3 .bodyer3-6 h2 {
        font-size: 2.5rem;
        font-weight: 400;
        color: #27364e; }
      #bodyer #bodyer3 .bodyer3-6 p {
        font-size: 1.5rem;
        color: #27364e;
        margin: 24px 0; }
      #bodyer #bodyer3 .bodyer3-6 .bodyer3-6-divimg {
        display: flex;
        display: -moz-flex;
        display: -webkit-flex;
        display: -o-flex;
        display: -ms-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        width: 1024px;
        height: 260px;
        margin-top: 80px; }
        #bodyer #bodyer3 .bodyer3-6 .bodyer3-6-divimg .spanMould {
          display: flex;
          display: -moz-flex;
          display: -webkit-flex;
          display: -o-flex;
          display: -ms-flex;
          flex-direction: column;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          align-items: center;
          -webkit-align-items: center;
          width: 341.33px;
          height: 260px; }
          #bodyer #bodyer3 .bodyer3-6 .bodyer3-6-divimg .spanMould:before {
            content: '';
            width: 110px;
            height: 110px;
            display: block;
            background: url(https://modao.cc/webpack/asset.4e3d36887976d12a68649d74140b9af6.svg) no-repeat;
            margin: 0 auto; }
          #bodyer #bodyer3 .bodyer3-6 .bodyer3-6-divimg .spanMould h2 {
            font-size: 1.75rem;
            color: #525e71;
            font-weight: 400;
            margin: 28px 0 7px 0; }
          #bodyer #bodyer3 .bodyer3-6 .bodyer3-6-divimg .spanMould p {
            font-size: 16px;
            color: #969da8;
            margin: 16px 0;
            text-align: center; }
        #bodyer #bodyer3 .bodyer3-6 .bodyer3-6-divimg .divimg1:before {
          background-position: 0 -33px;
          filter: drop-shadow(0 4px 20px rgba(255, 113, 0, 0.28)); }
        #bodyer #bodyer3 .bodyer3-6 .bodyer3-6-divimg .divimg2:before {
          background-position: -111px -33px;
          filter: drop-shadow(0 4px 20px rgba(246, 51, 51, 0.25)); }
        #bodyer #bodyer3 .bodyer3-6 .bodyer3-6-divimg .divimg3:before {
          background-position: -222px -33px;
          filter: drop-shadow(0 4px 20px rgba(41, 142, 232, 0.3)); }
    #bodyer #bodyer3 .bodyer3-7 {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      width: 96%;
      max-width: 1420px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      border-right: 1.25rem solid transparent;
      border-left: 1.25rem solid transparent; }
      #bodyer #bodyer3 .bodyer3-7 .video2 {
        display: block; }
        #bodyer #bodyer3 .bodyer3-7 .video2 .video2-img {
          height: 593.33px;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          margin: 30px auto 0 auto;
          position: relative; }
          #bodyer #bodyer3 .bodyer3-7 .video2 .video2-img span {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #e1e1e1;
            z-index: 3;
            top: 0;
            left: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            transition: all ease 0.5s;
            -o-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s; }
          #bodyer #bodyer3 .bodyer3-7 .video2 .video2-img:hover span {
            opacity: 0.3;
            filter: alpha(opacity=30);
            transition: all ease 0.5s;
            -o-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s; }
          #bodyer #bodyer3 .bodyer3-7 .video2 .video2-img:hover .video2-btn {
            background-color: #eb5648;
            transition: all ease 0.5s;
            -o-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s; }
          #bodyer #bodyer3 .bodyer3-7 .video2 .video2-img:hover .video2-btn:after {
            content: '';
            height: 0;
            width: 0;
            top: 49%;
            border-top: 9px solid transparent;
            border-left: 13px solid white;
            border-bottom: 8.5px solid transparent;
            z-index: 9; }
          #bodyer #bodyer3 .bodyer3-7 .video2 .video2-img .video2-btn {
            width: 64px;
            height: 64px;
            position: absolute;
            background-color: white;
            border-radius: 32px;
            -webkit-border-radius: 32px;
            -moz-border-radius: 32px;
            left: 50%;
            top: 50%;
            z-index: 5;
            cursor: pointer;
            -webkit-transform: translate(-30%, -45%);
            -moz-transform: translate(-30%, -45%);
            -o-transform: translate(-30%, -45%);
            -ms-transform: translate(-30%, -45%);
            transform: translate(-30%, -45%);
            transition: all ease 0.5s;
            -o-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s; }
            #bodyer #bodyer3 .bodyer3-7 .video2 .video2-img .video2-btn:after {
              content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='13' height='18' viewBox='0 0 13 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.462 8.868L.515 17.184V.55z' stroke='%23F55D54' fill='none'/%3E%3C/svg%3E");
              position: absolute;
              width: 13px;
              height: 21px;
              left: 50%;
              top: 50%;
              z-index: 2;
              -webkit-transform: translate(-30%, -45%);
              -moz-transform: translate(-30%, -45%);
              -o-transform: translate(-30%, -45%);
              -ms-transform: translate(-30%, -45%);
              transform: translate(-30%, -45%); }
      #bodyer #bodyer3 .bodyer3-7 #quote-list {
        display: flex;
        display: -moz-flex;
        display: -webkit-flex;
        display: -o-flex;
        display: -ms-flex;
        justify-content: center;
        -webkit-justify-content: center;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        width: 100%;
        height: 299px;
        position: relative; }
        #bodyer #bodyer3 .bodyer3-7 #quote-list #message {
          display: block;
          width: 736px;
          height: 240px;
          background-color: white;
          position: absolute;
          top: -11rem;
          left: 50%;
          z-index: 80;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          color: #525e71;
          filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 0.15)); }
          #bodyer #bodyer3 .bodyer3-7 #quote-list #message h2 {
            font-size: 1.25rem;
            border-bottom: 1px solid #d9d9d9;
            font-weight: 400;
            display: block;
            width: 100%;
            height: 50px;
            text-align: center;
            padding: 30px 0 0; }
          #bodyer #bodyer3 .bodyer3-7 #quote-list #message p {
            font-size: 20px;
            font-weight: 300;
            text-align: center;
            color: #525e71;
            width: 537px;
            margin: 0 auto;
            padding-top: 40px; }
            #bodyer #bodyer3 .bodyer3-7 #quote-list #message p:before {
              content: "\300C"; }
            #bodyer #bodyer3 .bodyer3-7 #quote-list #message p:after {
              content: "\300D"; }
          #bodyer #bodyer3 .bodyer3-7 #quote-list #message #message-span {
            display: block;
            position: absolute;
            border-top: 20px solid white;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            z-index: 98;
            top: 98%;
            left: 42px; }
        #bodyer #bodyer3 .bodyer3-7 #quote-list ul {
          width: 737px;
          height: 123px; }
          #bodyer #bodyer3 .bodyer3-7 #quote-list ul .active {
            opacity: 1;
            filter: alpha(opacity=100); }
            #bodyer #bodyer3 .bodyer3-7 #quote-list ul .active button:before {
              box-shadow: 0 0 0 1px #eb5648;
              -webkit-box-shadow: 0 0 0 1px #eb5648; }
          #bodyer #bodyer3 .bodyer3-7 #quote-list ul li {
            display: inline-block;
            width: 16%;
            height: 123px;
            text-align: center;
            background-color: transparent;
            opacity: 0.7;
            filter: alpha(opacity=70);
            transition: all ease-in .2s;
            -o-transition: all ease-in .2s;
            -moz-transition: all ease-in .2s;
            -webkit-transition: all ease-in .2s; }
            #bodyer #bodyer3 .bodyer3-7 #quote-list ul li:hover {
              opacity: 1;
              filter: alpha(opacity=100); }
            #bodyer #bodyer3 .bodyer3-7 #quote-list ul li button {
              display: block;
              color: #525e71;
              font-size: 14px;
              width: 84px;
              height: 102px;
              margin: 0 auto;
              outline: none;
              -webkit-appearance: none;
              background-color: transparent;
              cursor: pointer;
              border: none; }
              #bodyer #bodyer3 .bodyer3-7 #quote-list ul li button:before {
                content: '';
                display: block;
                border: 3px solid #fff;
                margin: 0 auto 1rem;
                width: 61px;
                height: 61px;
                background: url(https://modao.cc/webpack/people.340ca6319aeead12118da19222e54270.png) no-repeat;
                background-size: 230px auto;
                -o-background-size: 230px auto;
                -moz-background-size: 230px auto;
                -webkit-background-size: 230px auto;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%; }
              #bodyer #bodyer3 .bodyer3-7 #quote-list ul li button:hover:before {
                box-shadow: 0 0 0 1px #eb5648;
                -webkit-box-shadow: 0 0 0 1px #eb5648; }
            #bodyer #bodyer3 .bodyer3-7 #quote-list ul li p {
              color: #525e71;
              font-size: 14px; }
            #bodyer #bodyer3 .bodyer3-7 #quote-list ul li .fanyang:before {
              background-position: -102px -2px; }
            #bodyer #bodyer3 .bodyer3-7 #quote-list ul li .maqiao:before {
              background-position: -67px -67px; }
            #bodyer #bodyer3 .bodyer3-7 #quote-list ul li .zhubo:before {
              background-position: -167px -102px; }
            #bodyer #bodyer3 .bodyer3-7 #quote-list ul li .adelaide:before {
              background-position: -2px -2px; }
            #bodyer #bodyer3 .bodyer3-7 #quote-list ul li .wumian:before {
              background-position: -167px -2px; }
            #bodyer #bodyer3 .bodyer3-7 #quote-list ul li .jason:before {
              background-position: -2px -67px; }
    #bodyer #bodyer3 .bodyer3-8 {
      display: flex;
      display: -moz-flex;
      display: -webkit-flex;
      display: -o-flex;
      display: -ms-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      align-items: center;
      -webkit-align-items: center;
      width: 100%;
      height: 708px;
      background: url(https://modao.cc/webpack/sec10-bg.59b58bdd615cfb1974f05da24a0fdefd.png) repeat-x;
      -webkit-background-size: 8px auto;
      -moz-background-size: 8px auto;
      background-size: 8px auto;
      background-position: bottom;
      padding: 5rem 0; }
      #bodyer #bodyer3 .bodyer3-8 h2 {
        font-size: 2rem;
        font-weight: 400;
        color: #27364e; }
      #bodyer #bodyer3 .bodyer3-8 p {
        color: #27364e;
        font-size: 0.875rem;
        margin: 14px 0; }
        #bodyer #bodyer3 .bodyer3-8 p b {
          font-weight: 400;
          color: #eb5648;
          font-size: 14px; }
      #bodyer #bodyer3 .bodyer3-8 form {
        width: 384px;
        height: 416px;
        display: flex;
        display: -moz-flex;
        display: -webkit-flex;
        display: -o-flex;
        display: -ms-flex;
        background-color: white;
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        margin: 3rem auto 0;
        padding: 3rem 1em 0;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15);
        -o-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15); }
        #bodyer #bodyer3 .bodyer3-8 form label {
          display: block;
          margin: 28px 0 0;
          color: #27364e; }
          #bodyer #bodyer3 .bodyer3-8 form label input {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            font-size: 14px;
            width: 252px;
            height: 32px;
            -webkit-appearance: none;
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border: none;
            border-bottom: 1px solid #d9d9d9;
            padding: 0 .5rem 0 2rem;
            outline: none; }
            #bodyer #bodyer3 .bodyer3-8 form label input:focus {
              border-bottom: 1px solid #eb5648; }
            #bodyer #bodyer3 .bodyer3-8 form label input:hover {
              border-bottom: 1px solid #eb5648; }
        #bodyer #bodyer3 .bodyer3-8 form button {
          font-size: 14px;
          display: block;
          outline: none;
          -webkit-appearance: none;
          border-radius: 0;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          width: 252px;
          height: 50px;
          margin: 44px 0 16px;
          background-color: #eb5648;
          color: white;
          text-align: center;
          line-height: 100%;
          border: none;
          cursor: pointer;
          transition: all ease-in .2s;
          -o-transition: all ease-in .2s;
          -moz-transition: all ease-in .2s;
          -webkit-transition: all ease-in .2s; }
          #bodyer #bodyer3 .bodyer3-8 form button:hover {
            background-color: rgba(235, 86, 72, 0.8);
            transition: all ease-in .2s;
            -o-transition: all ease-in .2s;
            -moz-transition: all ease-in .2s;
            -webkit-transition: all ease-in .2s; }
        #bodyer #bodyer3 .bodyer3-8 form p {
          margin: 14px 0;
          color: #a9afb8; }
          #bodyer #bodyer3 .bodyer3-8 form p a {
            color: #eb5648;
            border-bottom: 1px solid #eb5648; }

#scroll-bar {
  position: fixed;
  background-color: white;
  right: 0;
  width: 12px;
  height: 100%;
  z-index: 100; }
  #scroll-bar #bar-top {
    width: 12px; }
  #scroll-bar #bar-centre {
    width: 12px;
    background-color: #c1c1c1;
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: absolute;
    cursor: pointer; }
    #scroll-bar #bar-centre:hover {
      opacity: .6;
      filter: alpha(opacity=60);
      transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s; }
  #scroll-bar #bar-buttom {
    width: 12px;
    flex-grow: 1;
    -webkit-flex-grow: 1; }

#btn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 99;
  width: 40px;
  height: 40px;
  border: 2px solid #f55d54;
  position: fixed;
  top: 82%;
  left: 92%;
  cursor: pointer;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s; }
  #btn:hover {
    background-color: #f55d54;
    transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s; }
    #btn:hover::after {
      color: white;
      transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s; }
  #btn::after {
    content: "\27A4";
    transform: rotate(-90deg);
    text-align: center;
    color: #f55d54;
    font-size: 1.5rem;
    width: 38px;
    height: 38px;
    position: absolute;
    left: 1px;
    top: -3px; }

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.headerbuttom {
  box-shadow: rgba(0, 0, 0, 0.04706) 0px 1px 1px 0px;
  -o-box-shadow: rgba(0, 0, 0, 0.04706) 0px 1px 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.04706) 0px 1px 1px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04706) 0px 1px 1px 0px; }

/*# sourceMappingURL=css1.css.map */
